<link rel="stylesheet" href="{{ 'artist-widget.css' | asset_url }}" />

<div class="artist-widget">
    <h3>Artists</h3>
    <ul class="row" id="artist-row">
        {% for collection in collections %}

            {% if collection.template_suffix == 'artist' %}
                <li class="artist-card">
    
                    <div class="image" 
                         style="background: url('{{ collection.image | image_url: width: '500' }}'); background-size: cover; background-position: {% if collection.featured_image.presentation.focal_point %}{{ collection.featured_image.presentation.focal_point }}{% else %}center center{% endif %};"
                         onclick="window.location='{{ collection.url }}';"></div>
                    
                    <div class="name">
                        <h2><a href="{{ collection.url }}" title="{{ collection.title }}">{{ collection.title }}</a></h2>
                    </div>
                    
                </li>
            {% endif %}

                <li class="view-all">
                    <a href="/collections/all-artists" title="View all artists">
                        <div class="arrow">
                            <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13 6L7.5 0.75V3.75C2.23656 3.75 1 7.52406 1 11.25C2.51906 9.305 3.8625 8.25 7.5 8.25V11.25L13 6Z" stroke="black" stroke-linejoin="round"/>
                            </svg>
                        </div>
                        <span>View All</span>
                    </a>
                </li>
    
        {% endfor %} 
    </ul> 

    <div class="artist-buttons">

        <div id="artist-button-prev">
            {% render 'icon--arrow-left' %}
        </div>

        <div id="artist-button-next">
            {% render 'icon--arrow-right' %}
        </div>

    </div>

</div>

<script>

    var news_btn_left = document.getElementById('artist-button-prev');
    var news_btn_right = document.getElementById('artist-button-next');
    var news_content = document.getElementById('artist-row');

    const news_content_scroll_width = news_content.scrollWidth;
    let news_content_scoll_left = news_content.scrollLeft;

    news_btn_right.addEventListener('click', () => {
        news_content_scoll_left += 250;
        if (news_content_scoll_left >= news_content_scroll_width) { 
        news_content_scoll_left = news_content_scroll_width; 
        }
        news_content.scrollLeft = news_content_scoll_left;
    });

    news_btn_left.addEventListener('click', () => {
        news_content_scoll_left -= 250;
        if (news_content_scoll_left <= 0) {
            news_content_scoll_left = 0;
        }
        news_content.scrollLeft = news_content_scoll_left;
    });

</script>