<link rel="stylesheet" href="{{ 'artist-widget.css' | asset_url }}" />

<div class="artist-widget">
    <h3>Artists</h3>
    <ul class="row">
        {% for collection in collections %}

            {% if collection.template_suffix == 'artist' %}
                <li class="artist-card">
    
                    <div class="image" 
                         style="background: url('{{ collection.image | image_url: width: '500' }}'); background-size: cover; background-position: {% if collection.featured_image.presentation.focal_point %}{{ collection.featured_image.presentation.focal_point }}{% else %}center center{% endif %};"
                         onclick="window.location='{{ collection.url }}';"></div>
                    
                    <div class="name">
                        <h2><a href="{{ collection.url }}" title="{{ collection.title }}">{{ collection.title }}</a></h2>
                    </div>
                    
                </li>
            {% endif %}
    
        {% endfor %} 
    </ul> 
</div>