<li class="product">
    <div class="image">
        <img src="{{ prod.media[0] | image_url: width: '800' }}" alt="{{ prod.title }}" />
    </div>
    <div class="title">
        <h2>{{ prod.title }}</h2>
    </div>
    <div class="price">
    {% if prod.price_varies %}From{% endif %}
        {{ prod.price | money }}
        {% if on_sale %}
            <s class="compare-at-price">{{ prod.compare_at_price | money }}</s>
        {% endif %}
    </div>
</li>