<li class="product">
    <div class="image">
        <a href="{{ prod.url }}" title="{{ prod.title }}">
            <img src="{{ prod.media[0] | image_url: width: '800' }}" alt="{{ prod.title }}" />
        </a>
    </div>
    <div class="title">
        <h2>{{ prod.title | link_to: prod.url }}</h2>
    </div>
    <div class="price">
        {% if prod.price_varies %}
            {{ prod.price_min | money_without_trailing_zeros }}
            -
            {{ prod.price_max | money_without_trailing_zeros }}
        {% else %}
            {{ prod.price | money_without_trailing_zeros }}
        {% endif %}
        
    </div>
</li>