<li class="product">
    <div class="image" 
         style="position: relative; background: url('{{ prod.media[0] | image_url: width: '800' }}'); background-size: cover; background-position: center center;"
         onclick="window.location='{{ prod.url }}';">
<span class="so-indicator">sold out</span>
      {% if product.available %}
        <span class="so-indicator">sold out</span>
      {% endif %}
    </div>
    <div class="title">
        <h2>{{ prod.title | link_to: prod.url }}</h2>
    </div>
    <div class="price">
        {% if prod.price_varies %}
            {{ prod.price_min | money_without_trailing_zeros }}
            -
            {{ prod.price_max | money_without_trailing_zeros }}
        {% else %}
            {{ prod.price | money_without_trailing_zeros }}
        {% endif %}
        
    </div>
</li>