<div class="text-slide hero-slide swiper-slide" style="background: url('{{ block.settings.text_background_image | image_url }}'); background-size: cover; background-position: {{ block.settings.text_background_image.presentation.focal_point }};">
    <div class="box-wrap">

        <div class="text-box">
            
            <div class="title">
                <h2>{{ block.settings.text_title }}</h2>
            </div>

            <div class="description">
                <p>{{ block.settings.text_description }}</p>
            </div>

            <div class="button">
                <a href="{{ block.settings.text_url }}">{{ block.settings.text_url_text }}</a>
            </div>
            
        </div>

    </div>
</div>