<link rel="stylesheet" href="{{ 'cart.css' | asset_url }}" />

<div class="page-container cart-page">

  <div class="page-header">
    <h1>Cart</h1>
  </div>
  
    
  {% if cart.item_count > 0 %}

    <div class="back-button">
      <a href="/collections/all" title="Back to shop">{% render 'icon--arrow-left' %} Back to shop</a>
    </div>

    <form action="/cart" method="post">
      
      <table>
        
        <tbody>

        {% for item in cart.items %}    
          
          {% assign collection_url = item.product.collections.last.url %}
          {% if collection_url == '/collections/frontpage' or collection_url == blank %}
            {% assign collection_url = '/collections/all' %}
          {% endif %}
          
          {% if forloop.first %}
            {% assign continue_shopping_url = collection_url %}
          {% endif %}

          <tr>
            
            <td class="image">
              <a href="{{ collection_url }}{{ item.url }}">
                <img src="{{ item | img_url: 'compact' }}"  alt="{{ item.title | escape }}" />
              </a>
            </td>

            <td class="title">
              <h2>
                <a href="{{ collection_url }}{{ item.url }}">
                  {{ item.title }}
                </a>
              </h2>

              {% comment %}
              Line Item Properties
              {% endcomment %}
              {% assign properties_amount = item.properties | size %}
              {% if properties_amount > 0 %}
                {% for p in item.properties %}
                  {% unless p.last == blank %}
                    {{ p.first }}:
                    {% if p.last contains '/uploads/' %}
                      <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                    {% else %}
                      {{ p.last }}
                    {% endif %}
                  {% endunless %}
                {% endfor %}
              {% endif %}
              <h3>{{ item.vendor }}</h3>
            </td>

            <td class="quantity">
              <input type="number" name="updates[]" id="updates_{{ item.id }}" class="quantity" value="{{ item.quantity }}" />
            </td>

            <td class="price">
              {{ item.final_line_price | money_without_trailing_zeros }}
            </td>

            <td class="remove">
              <a href="/cart/change?line={{ forloop.index }}&quantity=0">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7 0C3.1 0 0 3.1 0 7C0 10.9 3.1 14 7 14C10.9 14 14 10.9 14 7C14 3.1 10.9 0 7 0ZM7 13C3.7 13 1 10.3 1 7C1 3.7 3.7 1 7 1C10.3 1 13 3.7 13 7C13 10.3 10.3 13 7 13Z" fill="black"/>
                  <path d="M9.7 10.5L7 7.8L4.3 10.5L3.5 9.7L6.2 7L3.5 4.3L4.3 3.5L7 6.2L9.7 3.5L10.5 4.3L7.8 7L10.5 9.7L9.7 10.5Z" fill="black"/>
                </svg>
              </a>
            </td>

          </tr>
        {% endfor %}
        
        </tbody>
        
      </table>
      
      <div class="totals">
        <h3>Subtotal <em>{{ cart.total_price | money }}</em></h3>
      </div>
      
      <div class="checkout-buttons">
        <input type="submit" name="update" value="Update cart" />
        <input type="submit" name="checkout" value="Check out" />   
      </div>
      
      <div class="additional-buttons">
        {% if additional_checkout_buttons %}
          {{ content_for_additional_checkout_buttons }}
        {% endif %}
      </div>


    </form>

  {% else %}

    <h2>Your cart is currently empty.</h2>

    <div class="back-button">
      <a href="/collections/all" title="Back to shop">{% render 'icon--arrow-left' %} Back to shop</a>
    </div>

  {% endif %}

</div>