<link rel="stylesheet" href="{{ 'collection.css' | asset_url }}" />
<link rel="stylesheet" href="{{ 'product-grid.css' | asset_url }}" />

<style>
  .so-indicator {
    position: absolute;
    top: 4px;
    right: 4px;
    background: var(--black);
    color: var(--white);
    padding: 4px 8px;
    border-radius: 4px;
    text-align: center;
    z-index: 9;
  }

  .pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    padding: 30px 0 0 0;
    text-transform: uppercase;
  }

  .pagination .current {
    font-weight: 900;
  }
</style>

<div class="page-container collection">

  {% paginate collection.products by 10 %}

    <div class="page-header">

      <div class="title">
        <h1>{{ collection.title }}</h1>
        {% if collection.description.size > 0 %}
          {{ collection.description }}
        {% endif %}
      </div>

      <div class="sorting">
        <span>Sort</span>
        {% if collection.products_count > 1 %}
          <select class="sort-by right">
            <option value="manual">Featured</option>
            <option value="price-ascending">Price: Low to High</option>
            <option value="price-descending">Price: Hight to Low</option>
            <option value="title-ascending">A-Z</option>
            <option value="title-descending">Z-A</option>
            <option value="created-ascending">Oldest to Newest</option>
            <option value="created-descending">Newest to Oldest</option>
            <option value="best-selling">Best Selling</option>
          </select>
        {% endif %}
      </div>

    </div>

    <ul class="products">
        {% for prod in collection.products %}
          {% render 'product-card', prod: prod %}
        {% endfor %}
    </ul>
    

    {% if paginate.pages > 1 %}
      <div class="pagination">
  
          {% if paginate.previous %}
            <a href="{{ paginate.previous.url }}" class="prev">Previous</a>
          {% endif %}
        
          {% for part in paginate.parts %}
            {% if part.is_link %}
              <a href="{{ part.url }}">{{ part.title }}</a>
            {% elsif part.title == paginate.current_page %}
              <span class="current">{{ part.title }}</span>
            {% else %}
              <span>{{ part.title }}</span>
            {% endif %}
          {% endfor %}
        
          {% if paginate.next %}
            <a href="{{ paginate.next.url }}" class="next">Next</a>
          {% endif %}
          
      </div>
    {% endif %}

  {% endpaginate %}

  {% render 'artist-widget' %}

</div>

{% comment %}
  JavaScript for collection sorting.
{% endcomment %}
<script>
jQuery('.sort-by')
  .val('{{ collection.sort_by | default: collection.default_sort_by }}')
  .on('change', function() {
    Shopify.queryParams.sort_by = jQuery(this).val();
    location.search = jQuery.param(Shopify.queryParams).replace(/\+/g, '%20');
  });
</script>